body
{
    font-family: 'Source Sans Pro', sans-serif;
}
.container-fluid
{
    padding: 0;
    width: 100%;
}
.row
{
    margin: 0;
    width: 100%;
}

h1
{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

h2
{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
}

h3
{
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    padding-bottom: 5px;
}

.navbar-brand 
{
    /* background: url(../images/azure.png) center / contain no-repeat; */ 
    width: 200px;
    transform: translateX(-50%);
    left: 51%;
    position: absolute;
    font-size: 18px;
}

.navbar-default a
{
    align-content: center;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #29c492;
    transition: font-size 0.1s, color 0.2s;
}

.navbar-default a:hover
{
    font-size: 20px;
}

.navbar-default {
    background-color: #373a3d;
    border-color: #000000;
}
.navbar-default .navbar-brand 
{
    color: #53d1cb;
    font-size: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #53d1cb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
}


.footer
{
    background: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.footer p
{
    color: black;
    font-weight: bold;
}

.box1
{
    height: 100%;
	width: 100%;
    padding-left: 20px;
    padding-top: 10px;
}

.box1 p
{
    font-size: 18px;
    font-weight: bold;
}

#socialMediaIcons
{
	color: black;
	font-size: 30px;
	margin: 5px;
	text-align: center;
    transition: text-shadow 0.3s, color 0.3s;
    font-style: normal;
}

#socialMediaIcons:hover
{
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
    color: #53d1cb;
}

hr 
{
  border: 0;
  width: 100%;               
  background-color: black;
  height: 2px;
  margin-top: 3%;
  opacity: 0.7;
}

.img1
{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding-top: 10px;
}

.img2
{
    width: 100px;
    height: 120px;
    margin: 0 auto;
    padding-top: 10px;
}

.img3
{
    width: 280px;
    height: 120px;
    margin: 0 auto;
    padding-top: 10px;
}


#logoText
{
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    font-size: 15px;
    padding-bottom: 20px;
}

.con-form
{
    padding-left: 10%;
    padding-right: 10%;
}

.well
{
	background: #292a2b;
	box-shadow: 0 0 2px 0 black;
}

.well label {
	color: white;
}

#msgBtn
{
    font-weight: bold;
    font-size: 15px;
}

.projImg1
{
    position: relative;
    width: 282px;
    height: 202px;
    margin: 0 auto;
    border: 1px solid black;
}

#fixedImg
{
    position: relative;
    width: 280px;
    height: 200px;
    margin: 0 auto;
    transition: filter 0.4s;
}

#fixedImg:hover
{
    filter: blur(2px);
}

span.text-content {
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  display: table;
  height: 200px;
  position: absolute;
  top: 0;
  width: 280px;
  opacity: 0;
  transition: opacity 400ms;
}

span.text-content span 
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
}

span.text-content:hover
{
    opacity: 1;
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.9));
}

.inner-container
{
    text-align: center;
}

.inner-container a
{
    text-decoration: none;
}

.inner-container p
{
    cursor: pointer;
    transition: text-shadow 0.3s, color 0.3s;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.inner-container p:hover
{
    color: #53d1cb;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.inner-container i
{
    cursor: pointer;
    transition: font-size 0.1s;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-style: normal;
}

.container-fluid
{
    opacity: 1;
    animation: container-fluid 0.5s ease;
}

@keyframes container-fluid 
{
    from { opacity: 0; filter: blur(3px); padding-top: 100px;}
    to { opacity: 1; filter: blur(0px); padding-top: 0;}
}

.label
{
    position: absolute;
    right: 198px;
    top: 0px;
    background: #53d1cb;
    text-align: center;
    color: white;
    font-size: 18px;
}

.container-custom
{
    background-color: #373a3d;
}

#imgfix
{
    padding-bottom: 60px;
}

