body
{
    font-family: 'Source Sans Pro', sans-serif;
}
.container-fluid
{
    padding: 0;
    width: 100%;
}
.row
{
    margin: 0;
    width: 100%;
}

h1
{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 50px;
}

h2
{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

.navbar
{
    align-content: center;
}
.navbar-nav a
{
    align-content: center;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: black;
    transition: font-size 0.1s;
}

.navbar-nav a:hover
{
    font-size: 20px;
}

.navbar .navbar-nav 
{
	display: inline-block;
	float: none;
    color: black;
}
.navbar .navbar-collapse 
{
	text-align: center;
}

.footer
{
    background: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.footer p
{
    color: black;
    font-weight: bold;
}

.box1
{
    height: 100%;
	width: 100%;
    padding-left: 20px;
    padding-top: 10px;
}

#socialMediaIcons
{
	color: black;
	font-size: 32px;
	margin: 5px;
	text-align: center;
    transition: font-size 0.1s;
}

#socialMediaIcons:hover
{
	font-size: 45px;
}

hr 
{
  border: 0;
  width: 100%;               
  background-color: black;
  height: 2px;
  margin-top: 3%;
  opacity: 0.7;
}

.img1
{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding-top: 10px;
}

.img2
{
    width: 100px;
    height: 120px;
    margin: 0 auto;
    padding-top: 10px;
}

.img3
{
    width: 280px;
    height: 120px;
    margin: 0 auto;
    padding-top: 10px;
}


#logoText
{
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    font-size: 15px;
    padding-bottom: 20px;
}

.con-form
{
    padding-left: 25%;
    padding-right: 25%;
}

.well
{
	background: #292a2b;
	box-shadow: 0 0 2px 0 black;
}

.well label {
	color: white;
}

#msgBtn
{
    font-weight: bold;
    font-size: 15px;
}

.projImg1
{
    position: relative;
    width: 282px;
    height: 202px;
    margin: 0 auto;
    border: 1px solid black;
}

#fixedImg
{
    position: relative;
    width: 280px;
    height: 200px;
    margin: 0 auto;
    transition: filter 0.4s;
}

#fixedImg:hover
{
    filter: blur(2px);
}

span.text-content {
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  display: table;
  height: 200px;
  position: absolute;
  top: 0;
  width: 280px;
  opacity: 0;
  transition: opacity 400ms;
}

span.text-content span 
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
}

span.text-content:hover
{
    opacity: 1;
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.9));
}

#footerLinks
{
    cursor: pointer;
    transition: font-size 0.1s;
    text-decoration: none;
}

#footerLinks:hover
{
    cursor: pointer;
    font-size: 20px;
}

.container-fluid
{
    opacity: 1;
    animation: container-fluid 0.5s ease;
}

@keyframes container-fluid {
    from { opacity: 0; filter: blur(3px); }
    to { opacity: 1; filter: blur(0px); }
}