@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="box1">
                <h2>About</h2>
                <hr id="titlehr" />
                <p style="text-align: center;">My name is Tobias Nyström and I am an aspiring web developer currently in pursuit of a junior position within web development. I am self-taught from scratch with roots in Microsofts .NET stack, my strength is within design and front-end due to years of graphical design and video editing in my spare time.</p>
                <p>In terms of my interests I am leaning towards back-end development as it is very fun to me. I do however aspire to become a full-stack developer so that I can combine both back-end and front-end.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="box1">
                <h2>Skillset</h2>
                <hr id="titlehr" />
                <p style="text-align: center; padding-bottom: 50px;">I have a long list of different skills due to my passion of development in general, these skills are listed below.</p>

                <row>
                    <div class="col-md-4">
                        <img class="img1 img-responsive" src="~/images/HTML5_Logo_512.png" />
                        <p id="logoText">HTML5</p>
                    </div>

                    <div class="col-md-4">
                        <img class="img1 img-responsive" src="~/images/css3-logo.png" />
                        <p id="logoText">CSS3</p>
                    </div>

                    <div class="col-md-4">
                        <img class="img1 img-responsive" src="~/images/Mmww2.png" />
                        <p id="logoText">JavaScript</p>
                    </div>
                </row>

                <div class="separateLogo">
                    <row>
                        <div class="col-md-4">
                            <img class="img2 img-responsive" src="~/images/C-Logo-1.jpg" />
                            <p id="logoText">C#</p>
                        </div>

                        <div class="col-md-4">
                            <img class="img1 img-responsive" src="~/images/aspnet.png" />
                            <p id="logoText">ASP.NET Core</p>
                        </div>

                        <div class="col-md-4">
                            <img class="img1 img-responsive" src="~/images/bootstrap-logo-vector-download.jpg" />
                            <p id="logoText">Bootstrap 3+</p>
                        </div>
                    </row>
                </div>

                <div class="separateLogo">
                    <row>
                        <div class="col-md-4">
                            <img class="img3 img-responsive" src="~/images/azure.png" />
                            <p id="logoText">Microsoft Azure</p>
                        </div>

                        <div class="col-md-4">
                            <img class="img1 img-responsive" src="~/images/photoshop-1065296_960_720.jpg" />
                            <p id="logoText">Photoshop</p>
                        </div>

                        <div class="col-md-4">
                            <img class="img1 img-responsive" src="~/images/git.jpg" />
                            <p id="logoText">Git</p>
                        </div>
                    </row>
                </div>

            </div>
        </div>
    </div>
</div>