@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="box1">
                <h2>Welcome</h2>
                <p style="text-align: center;">This website was created as a personal showcase directed towards anyone interested.</p>
                <p style="text-align: center;">Use the navigation bar above to view the different sections on the site.</p>
            </div>
        </div>
    </div>
</div>
